<h2>日記</h2>

<%= form_with url: diaries_path, method: :get do %> 
  <p>日記の作成</p>
  <p>お気に入り:<%= select(:habit, :favorite_id, get_favorite_habit) %></p>
  <%= submit_tag '日記を書く' %>
<% end %>

<p>取り組み中</p>

<!-- 取り組み中の項目をプルダウンで選ぶと、同じページに遷移して、クエリパラメータをその項目に設定する。そして、その項目にあった日記と取り組み時間を表示する -->


<div>
  <% @diaries.each do |diary| %>
    <div>
      <p>実行日：<%= diary.action_date %></p>
      <p>習慣名: <%= diary.habit.name %></p>
      <p>内容：</p>
      <p><%= diary.description %></p>
      <p>実行時間：<%= diary.doing_time %></p>
      <p>作成日：<%= l diary.created_at %></p>
      <p>更新日:<%= l diary.updated_at %></p>
    </div>
  <% end %>
</div>
<!--doing_timeの棒グラフ-->
