<h2>日記</h2>

<%= form_with url: diaries_path, method: :get do %> 
  <p>日記の作成</p>
  <p>お気に入り:<%= select(:habit, :favorite_id, get_favorite_habit) %></p>
  <%= submit_tag '日記を書く' %>
<% end %>


<%= form_with url: diaries_path, method: :get do %> 
  <p>取り組み中:<%= select(:continuation, :habit_id, get_continuation_habit) %></p>
  <%= submit_tag '検索' %>
<% end %>
<h3 class="text-center">検索結果</h3>
<canvas id="doing_time_chart"></canvas>
<div class="search-result">
  <div class="top-pagination">
    <%= paginate @diaries %>
  </div>
  <% @diaries.each do |diary| %>
    <div class="card">
      <p class="card-item">実行日：<%= diary.action_date %></p>
      <p class="card-item">習慣名</p>
      <p class="card-content"><%= diary.habit.name %></p>
      <p class="card-item">内容</p>
      <p class="card-content"><%= diary.description %></p>
      <p class="card-item">実行時間</p>
      <p class="card-content"><%= diary.doing_time %></p>
      <p class="card-item">作成日</p>
      <p class="card-content"><%= l diary.created_at %></p>
      <p class="card-item">更新日</p>
      <p class="card-content"><%= l diary.updated_at %></p>
      <p><%= link_to "編集", edit_diary_path(diary.id), class: "diary-edition" %></p>
      <p><%= link_to "削除", diary_path(diary.id), method: :delete, data: {confirm: "削除しますか?"}, class: "diary-delete"%></p>
    </div>
  <% end %>
  <div class="bottom-pagination">
    <%= paginate @diaries %>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  $(document).on('turbolinks:load', function(){
    let canvas = document.getElementById('doing_time_chart');
    let doing_time_chart = new Chart(canvas, {
      type: 'bar',
      data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '一昨日', '昨日', '今日'],
        datasets:[
          {
            label: '実行時間',
            data: [
              <%= sum_doing_time(@diaries.doing_time_day_ago(6)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(5)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(4)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(3)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(2)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(1)) %>,
              <%= sum_doing_time(@diaries.doing_time_day_ago(0)) %>
            ]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: '7日間の投稿数の比較'
        }
      }
    });
  });

</script>
