<% content_for(:page_title, "日記") %>

<%= form_with url: diaries_path, method: :get do %> 
    <span class="diary-form-title">取り組み中：</span>
    <%= select(:continuation, :habit_id, get_continuation_habit(@user_continuations), {}, {class: "diary-select"}) %>
    <%= submit_tag '日記を検索する', class: "diary-form-button" %>
<% end %>

<h3 class="center-text">検索結果</h3>
<div class="search-result">
  <div class="top-pagination">
    <%= paginate @diaries %>
  </div>
  <% @diaries.each do |diary| %>
    <div class="card">
      <p class="card-item">実行日：<%= diary.action_date %></p>
      <p class="card-item">習慣名</p>
      <p class="card-content"><%= diary.habit.name %></p>
      <p class="card-item">内容</p>
      <p class="card-content"><%= diary.description %></p>
      <p class="card-item">実行時間</p>
      <p class="card-content"><%= diary.doing_time %></p>
      <p class="card-item">作成日</p>
      <p class="card-content"><%= l diary.created_at %></p>
      <p class="card-item">更新日</p>
      <p class="card-content"><%= l diary.updated_at %></p>
      <p><%= link_to "編集", edit_diary_path(diary.id), class: "diary-edition" %></p>
      <p><%= link_to "削除", diary_path(diary.id), method: :delete, data: {confirm: "削除しますか?"}, class: "diary-delete"%></p>
    </div>
  <% end %>
  <div class="bottom-pagination">
    <%= paginate @diaries %>
  </div>
</div>
<h4 class="doing-time-title">実行時間グラフ</h4>
<canvas id="doing_time_chart">
  <% sorted_diaries = sort_diaris(@diaries) %>
  <% doing_times = doing_times_before_days(sorted_diaries) %>
</canvas>

<%= form_with url: diaries_path, method: :get  do %> 
  <span class="diary-form-title">お気に入り:</span>
  <%= select(:habit, :favorite_id, get_favorite_habit(@user_favorites), {}, {class: "diary-select"}) %>
  <%= submit_tag '日記を作成する', class: "diary-form-button" %>
<% end %>

<%= form_with do %>
  <span class="diary-form-title">AIに相談：</span>
  <%= text_area :search, :name, class: "block-input-parts text-area", id: "consult-content" %>
  <%= submit_tag '相談する', class: "diary-form-button", id: "consult-button" %>
<% end %>
<div class="ai-answer-container">
  <p>AIの回答:</p>
  <p id="result-for-consult"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  $(document).on('turbolinks:load', function(){
    let canvas = document.getElementById('doing_time_chart');
    let doing_time_chart = new Chart(canvas, {
      type: 'bar',
      data: {
        labels: ['6日前', '5日前', '4日前', '3日前', '一昨日', '昨日', '今日'],
        datasets:[
          {
            label: '実行時間',
            data: [
              <%= doing_times[6] %>,
              <%= doing_times[5] %>,
              <%= doing_times[4] %>,
              <%= doing_times[3] %>,
              <%= doing_times[2] %>,
              <%= doing_times[1] %>,
              <%= doing_times[0] %>
            ]
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: '7日間の投稿数の比較'
        }
      }
    });

  });

</script>
