<%= form_with model: diary, url: url do |f| %>
  <%= render 'shared/form/error_messages', object: f.object %>
  <%= f.label :action_date, class: "block-label" %>
  <%= f.date_field :action_date, value: diary.action_date, class: "block-input-parts" %>
  <%= f.label :description, class: "block-label" %>
  <%= f.text_area :description, placeholder: "今日は、1km散歩しました。", class: "block-input-parts text-area" %>
  <%= f.label :doing_time, class: "block-label" %>
  <%= f.time_field :doing_time, value: diary.doing_time, class: "block-input-parts" %>
  <p class="block-label">非公開にしますか?</p>
  <%= f.radio_button :private, true , value: true %>
  <%= f.label :private, 'はい', value: true, class: "radio" %>
  <%= f.radio_button :private, false, value: false, class: "radio" %>
  <%= f.label :private, 'いいえ', value: false%>
  <%= f.hidden_field :habit_id %>
  <%= f.submit '記録する', class: "submit-button" %>
<% end %>
