<%= form_with model: diary, url: diaries_path, method: method do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "今日は、1km散歩しました。" %>
  <%= f.label :doing_time %>
  <%= f.time_field :doing_time, value: diary.doing_time %>
  <p>非公開にしますか?</p>
  <%= f.radio_button :private, true , value: true %>
  <%= f.label :private, 'はい', value: true %>
  <%= f.radio_button :private, false, value: false %>
  <%= f.label :private, 'いいえ', value: false%>
  <%= f.hidden_field :habit_id %>
  <%= f.submit '記録する' %>
<% end %>
