<div class="first-view content-padding content-border-bottom">
  <h1 class="site-name center-text">習慣SNS</h1>
  <div class="first-view-description">
    <p class="text-bold">
      このサイトは、人生を好転させた習慣を共有し、自分自分の生活に取り入れる手助けをします。<br/>
      ユーザー自身が習慣を登録して、他のユーザーに伝えます。
    </p>
    <p>
      ところで、習慣は、人の行動の何割を占めているかご存知でしょうか？<br/>
      "人の45%の行動が習慣だと言われております。"<br/>
      身につけている習慣が良ければ、良い方向に動き、良くないものであれば、悪い方向に動きます。<br/>
      例えば、睡眠では、睡眠不足が続いていると、日中のパフォーマンスが落ちて、信頼を落としてしまうこともあります。<br/>
      また、朝食を抜くと、集中力が出ないことやイライラすることがあります。
    </p>
    <p>
      そこで、習慣を見直して、良い習慣を取り入れ、人生を少しでも生きやすくしていきましょう。
    </p>
    <p class="reference">
      参考文献：
      <a href="https://minchalle.com/blog/recommended-daily-habits#1-145">
        みんチャレ | 小さな毎日の習慣で人生が大きく変わる！おすすめの習慣と継続のコツ
      </a>
    <p>
  </div>
</div>
<div class="how-to-use content-padding">
  <h2 class="center-text main-function-title">主な機能</h2>
  <h3 class="center-text">習慣作成</h3>
  <div class="function">
    <%= image_tag 'habit_creation.png', alt: "習慣作成画像", class: "function-img" %>
    <div class="function-description">
      <p>
        ユーザーが習慣を作成します。<br/>
        作成する習慣は、「挑戦する」か「結果を約束する」を選ぶことができます。<br/>
        挑戦中の習慣は、気軽に作成して、挑戦できます。<br/>
        結果済の習慣は、良い習慣を他のユーザーに伝えられます。
      </p>
    </div>
  </div>
  <h3 class="center-text">習慣検索</h3>
  <div class="function">
    <%= image_tag 'habit_search.png', alt: "習慣作成画像", class: "function-img" %>
    <div class="function-description">
      <p>
        この機能は、ユーザーが作成したものを元に、検索結果を表示できます。<br/>
      </p>
    </div>
  </div>
  <h3 class="center-text">日記</h3>
  <div class="function">
    <%= image_tag 'diary.png', alt: "習慣作成画像", class: "function-img" %>
    <div class="function-description">
      <p>
        習慣の中から取り組むものを選び、日々の生活記録を記録できます。<br/>
        記録していき、良かったことや悪かったことを振り返ります。
      </p>
    </div>
  </div>
  <h3 class="center-text">実行グラフ</h3>
  <div class="function">
    <%= image_tag 'doing_time_chart.png', alt: "習慣作成画像", class: "function-img" %>
    <div class="function-description">
      <p>
        「取り組み中」の中から習慣を選ぶと、直近1週間の実行時間を表示します。<br/>
        取り組み具合をグラフで可視化することで、どれだけ意欲的・継続的に動いているかを知れます。
      </p>
    </div>
  </div>
  <h3  class="center-text">AI相談</h3>
  <div class="function">
    <%= image_tag 'AI_consult.png', alt: "習慣作成画像", class: "function-img" %>
    <div class="function-description">
      <p>
        不安な考えや、習慣に疑問や質問が浮かんだときに、AIに気軽に相談できます。
      </p>
    </div>
  </div>
</div>

