<div class="user-info-container">

  <div class="user-name-icon">
    <%= image_tag get_user_icon(user), class: "user-icon-large" %>
    <p class="user-name"><%= user.name %></p>
    <% if current_user.id == user.id %>
      <%= link_to '編集', edit_user_registration_path, class: "user-edition" %>
    <% end %>
  </div>

  <% if current_user.id == user.id %>
    <p><%= user.email %></p>
  <% end %>
  <p><%= user.introduction %></p>
  <%= link_to '日記', user_path(user.id) , class: "account-link" %>
  <%= link_to "フォローする#{user.followers.count}", user_followers_path(user.id), class: "follow-link"%>
  <%= link_to "フォローされた#{user.followings.count}", user_followings_path(user.id), class: "following-link"%>
  <div class="edit-follow">
    <% if current_user != user %>
      <%= render 'shared/follows/btn', followed_user: user %>
    <% end %>
  </div>
</div>
