<div class="search-result">
  <div class="top-pagination">
    <%= paginate users %>
  </div>
  <% users.each do |user| %>
    <div class="follower-following-user-card">
      <ul>
        <li><%= image_tag get_user_icon(user), class: "user-icon-small" %></li>
        <li><%= user.name %></li>
        <li><%= user.introduction %></li>
        <li><%= render 'shared/follows/btn', followed_user: user %></li>
      </ul>
    </div>
  <% end %>
  <div class="bottom-pagination">
    <%= paginate users %>
  </div>
</div>
