<%= content_for(:page_title, @habit.name) %>
<%= render 'shared/habits/favorite_habit', habit: @habit, user: @user %>
<%= render 'shared/habits/continuation', habit: @habit, user: @user %>

<div class="habit-display">
  <div class="effect-display">
    <p class="card-item one-card-item">効果(キーワード):</p>
    <p class="card-content one-card-content">
      <%= render 'shared/effects/items', effect_habits: @habit.effect_habits %>
    </p>
  </div>
  <div class="scheme-display one-card-item">
    <p class="card-item one-card-item">説明・工夫:</p>
    <p class="card-content one-card-content"><%= simple_format(@habit.scheme) %></p>
  </div>

  <% if @habit.period_for_effect.present? %>
    <div class="period_for_effect-display">
      <p class="card-item one-card-item">効果が出るまでの期間</p>
      <p class="card-content one-card-content"><%= @habit.period_for_effect %></p>
    </div>
  <% end %>
  <% if @habit.working_time.present? %>
    <div class="working_time-display">
      <p class="card-item one-card-item">活動時間</p>
      <p class="card-content one-card-content"><%= @habit.working_time %></p>
    </div>
  <% end %>
  <% if @habit.sources.present? %>
    <div class="source-display">
      <p class="card-item one-card-item">URL</p>
      <ul>
      <% @habit.sources.each do |source| %>
        <li class="card-content one-card-content">
          <%= link_to source.url, source.url %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class="card-item one-card-item">作成者：</p>
    <p class="card-content one-card-content">
      <%= link_to @habit.user.name, user_path(@habit.user.id) %>
    </p>
  <div class="circumstance-display">
    <p class="card-item one-card-item">この習慣の状況</p>
    <p  class="card-content one-card-content"><%= get_circumstance(@habit) %></p>
  </div>
  <% if @habit.user_id == current_user.id %>
    <%= link_to "編集", edit_habit_path(@habit.id), class: "inline-center" %>
    <%= link_to "削除", habit_path(@habit.id), method: :delete, class: "inline-center", data: {confirm: "削除してもよろしいですか?"} %>
  <% end %>
</div>
<% if @habit.commit? %>
  <%= render 'shared/habits/related_habits', related_habits: @related_habits, user: @user %>
<% else %>
  <%= %>
<% end %>

<script>
  let displayed_card_index = 0;
  let card_num = <%= @related_habits.count %>;
  let right_shift_num = 1;
  $(document).on("turbolinks:load", function(){
    $('.left-arrow').click("turbolinks:request-end", function(event){
      event.preventDefault();
    });
    $('.left-arrow').click("turbolinks:click", function(event){
      $('.card').eq(displayed_card_index).hide();
      displayed_card_index = (displayed_card_index + card_num - 1) % card_num;
      $('.card').eq(displayed_card_index).show();
    });
    $('.right-arrow').click("turbolinks:request-end", function(event){
      event.preventDefault();
    });
    $('.right-arrow').click("turbolinks:click", function(event){
      $('.card').eq(displayed_card_index).hide();
      displayed_card_index = (displayed_card_index + right_shift_num) % card_num;
      $('.card').eq(displayed_card_index).show();
    });
  });
</script>
