<!DOCTYPE html>
<html>
  <head>
    <title>DockerRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div class="under-header"></div>
    <% if flash.present? %>
      <div class="auth-information">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <div class="container-fluid">
      <main>
        <div class="main-inner">
          <h2 class="center-text"><%= yield(:page_title)%></h2>
          <%= yield %>
        </div>
      </main>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
