<div class="related-habits">
  <h3 class="center-text">関連する習慣</h3>
  <div class="related-habits-container">
    <% if related_habits.present? %>
      <% if related_habits.count != 1 %>
        <%= link_to '#', class: "left-arrow" do %>
          <%= image_tag 'arrow-left-circle.svg', alt: "左矢印" %>
        <% end %>
      <% end %>
      <div class="related-habits-container-inner">
        <div class="related-habits-cards">
          <%= render 'shared/habits/card', habits: related_habits, user: user %>
        </div>
      </div>
      <% if related_habits.count != 1 %>
        <%= link_to '#', class: "right-arrow" do %>
          <%= image_tag 'arrow-right-circle.svg', alt: "右矢印" %>
        <% end %>
      <% end %>
    <% else %>
      <p>現在そのような習慣はございません。</p>
    <% end %>
  </div>
</div>
